@{
    ViewData["Title"] = "Admin";
}

<section>
    <h1 style="text-align:center">Bienvenido</h1>
    <h2 style="text-align:center"></h2>
    <p> </p>
    <p style="text-align:center;">
        <img src="~/img/Admin.jpeg" width="1200" class="img-fluid" alt="Responsive image" />
    </p>
   
</section>