@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<hr>
<section class="content pt-3 pl-3 pr-3">
    <p>
        <a asp-action="index" asp-controller="Dashboard" class="btn btn-success"> Comportamiento de ventas</a>

        <a asp-action="gpastel" asp-controller="Dashboard" class="btn btn-success"> Comportamiento de servicios</a>

        <a asp-action="barras" asp-controller="Dashboard" class="btn btn-success"> Comportamiento de clientes</a>
    </p>
    @*<div class="row">
        <div class="form-group col-xs-4 pl-2 pr-4">
            <p>Desde: <input type="text" id="datepicker"></p>
        </div>
        <div class="form-group col-xs-4 pl-2 pr-4">
            <p>Hasta: <input type="text" id="datepicker2"></p>
        </div>
    </div>*@
</section>
<div id="container"></div>

@section Scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>


    <script>       

        $.ajax({
        url: '@Url.Action("reporteServicios", "Dashboard")',
        type: "GET",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function (data) {

            console.log(data)    

            var arrayServicio = [];
            var arrayCantidad = [];

            for (var i = 0; i < data.length; i++) {

                /*console.log(data[i].nombre)*/

                arrayServicio.push(data[i].servicio);
                arrayCantidad.push(data[i].cantidad);

            }
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Servicios solicitados'
                },
                xAxis: {
                    categories: arrayServicio,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Cantidad de servicios'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Total servicios',
                    data: arrayCantidad

                }]
            });


        },
        error: function (error) {
            console.log(error)
        }
    });
    </script>
     
   


}
