@using Microsoft.AspNetCore.Http
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div class="container" id="menu">
        <p asp-action="index" asp-controller="Clientes" class="brand-link">
            Stilosoft
        </p>
        <div class="user-panel mt-3 pb-3  d-flex">
            <div class="info">
                <a class="d-block">Bienvenido:</a>
            </div>
        </div>
    </div>

    <!-- Sidebar -->
    <div class="sidebar" id="menu-opciones">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                @if (this.User.IsInRole("Administrador"))
                {
                    <li class="nav-item">
                        <a asp-action="index" asp-controller="Usuarios" class="nav-link">
                            <i class="fas fa-users"></i>
                            <p>
                                Usuarios
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Clientes" class="nav-link">
                            <i class="fas fa-user-circle"></i>
                            <p>
                                Clientes
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a asp-action="index" asp-controller="Proveedor" class="nav-link">
                            <i class="fas fa-handshake"></i>
                            <p>
                                Proveedores
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a asp-action="index" asp-controller="Empleados" class="nav-link">
                            <i class="fas fa-vest"></i>
                            <p>
                                Empleados
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a asp-action="ListarAgenda" asp-controller="Empleados" class="nav-link">
                            <i class="far fa-clock"></i>
                            <p>
                                Empleado novedades
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a asp-action="index" asp-controller="Servicios" class="nav-link">
                            <i class="fas fa-cut"></i>
                            <p>
                                Servicios
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Citas" class="nav-link">
                            <i class="fas fa-calendar-alt"></i>
                            <p>
                                Citas
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="index" asp-controller="Dashboard" class="nav-link">
                            <i class="fas fa-users"></i>
                            <p>
                                Informes
                            </p>
                        </a>
                    </li>
                }
                @if (this.User.IsInRole("Empleado"))
                {
                    <li class="nav-item">
                        <a asp-action="AgendaCitasEmpleado" asp-controller="Empleados" class="nav-link">
                            <i class="fas fa-users"></i>
                            <p>
                                Agenda empleado
                            </p>
                        </a>
                    </li>
                }
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>