@model ProyectoStilosoft.ViewModels.Usuarios.CrearUsuarioViewModel

@{
    ViewData["Title"] = "Login";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stilosoft | Inicio</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    @*    <link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css">
        <link href="~/css/login.css" rel="stylesheet" />*@
    <link href="~/lib/AlertifyJS/css/alertify.css" rel="stylesheet" />
    <link href="~/lib/AlertifyJS/css/themes/default.css" rel="stylesheet" />
    <link href="~/css/NuevoLogin.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="backbox">
            <div class="loginMsg">
                <div class="textcontent">
                    <p class="title">No tienes una cuenta?</p>
                   <p>¿Qué estás esperando?</p>
                    <button id="switch1">Regístrate</button>
                </div>
            </div>
            <div class="signupMsg visibility">
                <div class="textcontent">
                    <p class="title">Tienes una cuenta?</p>
                    <p>Ingresa y pide tu cita!</p>
                    <button id="switch2">Ingresar</button>
                </div>
            </div>
        </div>
        <!-- backbox -->

        <div class="frontbox">

            <div class="login">

                <h2>Inicio de sesión</h2>
                <div class="inputbox">
                    <form asp-action="Login" method="post">
                        <span asp-validation-for="Email"></span>
                        <input asp-for="Email" placeholder=" CORREO">
                        <span asp-validation-for="Password" class="text-danger small"></span>
                        <input type="password" asp-for="Password" placeholder="CONTRASEÑA">
                        <div>
                            <a asp-action="OlvidePassword">Olvidaste tu contraseña?</a>
                            <a asp-action="Index" asp-controller="Landing">Ir al inicio</a>
                        </div>
                        <button type="submit">Ingresar</button>

                    </form>
                </div>
            </div>

            <div class="signup hide">

                <h2>Registrarse</h2>
                <div class="inputbox" id="contenedor">
                   
                     <form asp-action="Registrar" name="Registrar" method="post">
                    <section>
                        <span asp-validation-for="Nombre"></span>
                        <input asp-for="Nombre" placeholder=" NOMBRE">
                        <span asp-validation-for="Apellido"></span>
                        <input  asp-for="Apellido" placeholder=" APELLIDO">                   
                        <span asp-validation-for="Documento"></span>
                        <input asp-for="Documento" placeholder=" DOCUMENTO">
                        
                    </section>
                    <section>

                        <span asp-validation-for="Email"></span>
                        <input asp-for="Email" placeholder=" CORREO">
                        <span asp-validation-for="Password"></span>
                        <input type="password" asp-for="Password" placeholder=" CONTRASEÑA">
                         <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
                        <input asp-for="ConfirmarPassword" class="form-control" placeholder=" CONFIRMAR CONTRASEÑA">
                    </section>
                    <section>
                         <span asp-validation-for="Numero"></span>
                        <input asp-for="Numero" placeholder=" NÚMERO">
                        <div class="cacha">
                         <p class="g-recaptcha" data-sitekey="6LcQEdoeAAAAAM-6ytfQUuM8F19cFjqZrtcRK-IV"></p>
                         <p class="row justify-content-center">
                        </div>
                             <button type="submit">Registrar</button>  
                             
             
                </section>
                <a id="previo"> << Previo</a>
                <a id="siguiente">Siguiente >> </a>
                 </form>
                 
                 </div>
                             
            </div>

        </div>
        </div>
        <!-- frontbox -->
  
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminlte/dist/js/adminlte.min.js"></script>
    <script src="~/lib/AlertifyJS/alertify.js"></script>
    <script src=~/css/loginscripts.js></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

    <script>
        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Registrar"))
        {
            <text>
                    alertify.success('Registrado correctamente.');
            </text>
        }
        @if (TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Error"))
        {
            <text>
                    alertify.alert('Error', '@TempData["Mensaje"]');
            </text>
        }
    </script>


    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</body>
</html>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}

<script>
        $(document).ready(function(){
        $("#contenedor section").each(function(e) {
            if (e != 0)
                $(this).hide();
        });

         $("#siguiente").click(function(){
        if ($("#contenedor section:visible").next().length != 0)
            $("#contenedor section:visible").next().show().prev().hide();
        else {
            $("#contenedor section:visible").show();
            $("#contenedor section:first").show();
        }
        return false;
    });

        $("#previo").click(function(){
            if ($("#contenedor section:visible").prev().length != 0)
                $("#contenedor section:visible").prev().show().next().hide();
            else {
                $("#contenedor section:visible").hide();
                $("#contenedor section:last").hide();
            }
            return false;
        });
    });
</script>