@{
    Layout = null;

}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/css/NuevoLogin.css" rel="stylesheet" />
<body>
    <br />
    <br />

    <div class="container-fluid">
        <div class="card">         
            <div class="card-body login-card-body">
                <div>
                    <a class="h1"><b>Maria C</b> Stilos</a>
                </div>
                <p class="login-box-msg h4">Restaurar contraseña</p>
                <br />
                <div class="alert alert-success" role="alert">
                    Link de recuperación enviado con éxito al correo.
                </div>
                <div>
                    <a asp-action="Login">Volver</a>
                </div>
            </div>
        </div>
    </div>
</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
