@model ProyectoStilosoft.ViewModels.Citas.CitasCrearViewModel

@{
    ViewData["Title"] = "Crear cita";
}

@section Styles{
}
<div class="container-fluid">
    <br />
    <form asp-action="Crear" asp-controller="Citas" method="post">
        <input type="hidden" asp-for="Total" id="totalCita" />
        <input type="hidden" asp-for="EmpleadoAgendaId" id="empleadoAgendaId" />
        <input type="hidden" asp-for="Duracion" id="duracion" />
        <div class="row">
            <div class="col-5">
                <div class="row">
                    <div class="form-group col-xs-6 pl-2">
                        <h3>Cliente*</h3>
                        <select asp-items="ViewBag.Clientes" asp-for="ClienteId" class="form-control "></select>
                        <span asp-validation-for="ClienteId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-3 text-right">
                <input id="terminarSolicitud" type="submit" value="Terminar cita" class="btn btn-info mt-4 mr-5" />
            </div>
        </div>
        <hr />
        <h3 class="text">Datos de la cita</h3>
        <br />
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="form-group col-xs-4 pl-2 pr-4">
                        <h3>Servicio*</h3>
                        <select asp-for="ServicioId" id="servicio" class="form-control">
                            <option value="seleccione">Seleccione</option>
                            @foreach (var item in Model.Servicios)
                            {
                                <option precio="@item.Costo" duracion="@item.Duracion" value="@item.ServicioId">@item.Nombre</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-xs-4 pl-2 pr-4">
                        <h3>Empleados*</h3>
                        <select asp-for="EmpleadoId" class="form-control" id="empleadoDropdown">
                        </select>
                        <p class="text-danger empleado">Eliga una opción válida</p>
                    </div>
                    <div class=" col-xs-4 pl-2 pr-4">
                        <h3>Fecha*</h3>
                        <input asp-for="Fecha" id="datepicker" class="datepicker form-control" />
                        <p class="text-danger fecha">El empleado no tiene una agenda para esa fecha</p>
                    </div>
                    <div class=" col-xs-4 pl-2">
                        <h3>Hora*</h3>
                        <input asp-for="Hora" id="timepicker" class="timepicker form-control" />
                        <p class="text-danger hora">La hora seleccionada ya se encuentra ocupada</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h3>Agenda ocupada</h3>
                <ul id="listaAgendaOcupada">
                </ul>
            </div>
        </div>
    </form>
</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        $(document).ready(function () {
            $(".text-danger").hide();

            $('input.timepicker').timepicker({
                timeFormat: 'H:mm',
                interval: 30,
                minTime: '8',
                maxTime: '6:00pm',
                defaultTime: '8',
                startTime: '08:00',                
                dynamic: false,
                dropdown: true,
                scrollbar: true,
                change: function () {
                    validarHorario();
                }
            });

            $(function () {
                $("input.datepicker").datepicker({
                    minDate: -0, maxDate: "+1M"
                });
            });
        });
    </script>
    <script>
        $("#servicio").change(function () {
            let valorSeleccionado = $(this).val();
            let servicio = $("#servicio option:selected");
            $('#totalCita').val(servicio.attr("precio"));
            $('#duracion').val(servicio.attr("duracion"));

            $.ajax({
                type: 'POST',
                dataType: 'JSON',
                url: '/Empleados/obtenerEmpleados',
                data: { servicioId: valorSeleccionado },
                success:
                    function (respuesta) {
                        let opciones = '<option value="0">Seleccione</option>';
                        for (let i = 0; i < respuesta.length; i++) {
                            opciones += '<option value="' + respuesta[i].empleadoId + '">' + respuesta[i].empleadoNombre + '</option>';
                        }
                        $("#empleadoDropdown").html(opciones);
                    },
                error:
                    function (respuesta) {
                        alert('Algo salió mal, recarge la página nuevamente ');
                    }
            });
        })

        $("#datepicker").change(function () {
            let empleado = $("#empleadoDropdown option:selected").val();
            let fecha = $("#datepicker").val();

            $.ajax({
                type: 'POST',
                url: '/Empleados/ObtenerAgendaId',
                data: { empleadoId: empleado, fecha: fecha },
                success:
                    function (respuesta) {
                        console.log(respuesta);
                        $('#empleadoAgendaId').val(respuesta)
                    },
                error:
                    function (respuesta) {
                        alert('El empleado no tiene agenda para esa fecha');
                    }
            });


            $.ajax({
                type: 'POST',
                dataType: 'JSON',
                url: '/Empleados/ValidarAgenda',
                data: { empleadoId: empleado, fecha: fecha },
                success:
                    function (respuesta) {
                        console.log(respuesta)
                        let opciones = '';
                        for (let i = 0; i < respuesta.length; i++) {
                            opciones += '<li>'+ 'Fecha cita: ' + respuesta[i].horaInicio +  '</li>';
                        }
                        $("#listaAgendaOcupada").html(opciones);
                    },
                error:
                    function (respuesta) {
                        console.log(respuesta)
                    }
            });
        })

        function validarHorario() {
            let empleadoAgendaId = $("#empleadoAgendaId").val();
            let hora = $("#timepicker").val();
            let servicio = $("#servicio option:selected");
            let duracion = servicio.attr("precio");
            
            $.ajax({
                type: 'POST',
                url: '/Empleados/HorarioDisponible',
                data: { empleadoAgendaId: empleadoAgendaId, horaInicio: hora, duracion: duracion },
                success:
                    function (respuesta) {
                        if (respuesta) {
                            alert('El horario seleccionado se encuentra disponible');
                        }
                    },
                error:
                    function (respuesta) {
                        alert('El empleado no tiene agenda para esa fecha');
                    }
            });
        }
    </script>

}