@model ProyectoStilosoft.ViewModels.Empleados.EmpleadoViewModel

@{
    ViewData["Title"] = "Crear Empleado";
}
<hr />
<section class="content pt-3 pl-3 pr-3">    
    <form asp-action="Crear" asp-controller="Empleados" method="post">        
        <div class="row">
            <div class="col-4 pr-5">
                <h3>Empleado</h3>
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Apellidos" class="control-label"></label>
                    <input asp-for="Apellidos" class="form-control" />
                    <span asp-validation-for="Apellidos" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaNacimiento" class="control-label"></label>
                    <input id="date" type="date" asp-for="FechaNacimiento" class="form-control" />
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Documento" class="control-label"></label>
                    <input asp-for="Documento" class="form-control" />
                    <span asp-validation-for="Documento" class="text-danger"></span>
                </div>
                <div class="col-3 text-right">
                    <input id="terminarSolicitud" type="submit" value="Crear empleado" class="btn btn-info mt-4 mr-5" />
                </div>
            </div>
            <div class="col-6 pr-5 pl-5">
                <h3>Servicios</h3>
                <select id="servicio" class="form-control">
                    <option value="selecione">Selecione</option>
                    @foreach (var item in Model.Servicios)
                    {
                        <option duracion="@item.Duracion" value="@item.ServicioId">@item.Nombre</option>
                    }
                </select><br />
                <div class="form-group">
                    <button id="agregarServicioBtn" onclick="agregarServicio()" type="button" class="btn btn-primary">Agregar servicio</button>
                </div>
                <br />
                <h2>Lista de servicios</h2>
                <table id="tablaServicios" class="table table-bordered">
                    <thead>
                        <tr>
                            <td>Nombre</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table><br />
                <button type="button" class="btn btn-danger" onclick="eliminarServicio()"><i class="fas fa-trash-alt" ></i> Eliminar servicio</button>
            </div>
        </div>
    </form>
</section>


<script>

    

    var totalServicios = 0;
    var contServicios = 0;

    function agregarServicio(){
        let servicio = $("#servicio option:selected");
        let servicioId = $("#servicio option:selected").val();
        let servicioText = $("#servicio option:selected").text();

        if (servicioText!='' && servicioText!='Selecione') {
            $("#tablaServicios").append(`
            <tr id="${contServicios}">
                <td>
                    <input type="hidden" id="servicio${contServicios}" name="EmpleadoServicios[${contServicios}].ServicioId" value="${servicioId}" />
                    ${servicioText}
                </td>
            </tr>
            `);
            contServicios++;

            $("#servicio option[value='" + servicioId + "']").hide();
            Reset($("#servicio"));
        }
        if(contServicios > 5){

        }
    }

    function eliminarServicio() {
        contServicios--;
        let servicioId = $("#servicio" + contServicios).val();
        $("#servicio option[value='" + servicioId + "']").show();
        $("#" + contServicios).remove();
    }

    document.getElementById('date').valueAsDate = new Date();
</script>