@model IEnumerable<Stilosoft.Model.Entities.DetalleEmpleadoServicios>

@{
    ViewData["Title"] = "Detalle Empleado";
    Layout = null;
}


<section class="content">
    <div class="row">
        <div class="col-12">
            Servicios <br />
            <ul>
                @foreach (var item in Model)
                {
                <li>@Html.DisplayFor(modelItem => item.Servicio.Nombre) | Duración: @Html.DisplayFor(modelItem => item.Servicio.Duracion) min | Valor: $@Html.DisplayFor(modelItem => item.Servicio.Costo)</li>
                }
            </ul>
        </div>
    </div>                
</section>


@section Scripts{
    <script src="~/js/modals.js"></script>
}